<h1>Account page for: <strong><%= @user.username %></strong> </h1>

<!-- Account details if user being viewed is user who is signed in -->

<!-- Display all photos below the same for all users, self -->
