<h1>INDEX</h1>

<ul id="all-photo-list">
  <% @photos.each do |p| %>
    <li class="single-image">
      <p> image URL placeholder   </p>
      <p> <strong><%= link_to p.title, show_photo_path(p.id) %></strong></p>
      <p> description placeholder </p>
    </li>
  <% end %>
</ul>
