<h1>Rankings</h1>
<div class="row">
  <div class="all-photos-ranked col-lg-12">
    <% @sorted.reverse.in_groups_of(4, false).each do |group| %>
      <div class="row">
        <% group.each do |p| %>
          <div class="ranked-photo-block col-lg-3">
            <span class="rating-score"> <%= p.rating_score %></span>
            <%= link_to image_tag(p.image_file.preview), photo_path(p.id) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
