<div class="row">
  <div class="col-lg-12 all-photos-ranked">
    <% @sorted.reverse.in_groups_of(4, false).each do |group| %>
      <div class="row">
        <% group.each do |p| %>
          <div class="col-lg-3 ranked-photo-block">
            <%= link_to image_tag(p.image_file.preview), photo_path(p.id) %><br>
            <div class="rating-info-block">
              <span class="rating-score"> Total Rating Score: <%= p.rating_score %><br></span>
              <span class="ratings-digest"><%= p.ratings_digest %></span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
