<h1>DETAIL: <%= @photo.title %></h1>

<div id="photo-container">
  <p> image URL placeholder                </p>
  <p> <strong><%= @photo.title %></strong> </p>
  <p> description placeholder              </p>
  ------
  <p> Photo by: <%= @photo.user.username %> </p>
  <p> Gravatar image placeholder            </p>
  ------
  <p> Ratings summary placeholder           </p>
  <p> comments placeholder                  </p>
</div>
