// site-wide

@font-face {
  font-family: 'Croissant One';
  src: font-url('CroissantOne-Regular.tff');
}

@font-face {
  font-family: 'Cantarell';
  src: font-url('Cantarell-Regular.tff'),
               ('Cantarell-Bold.tff');
}

body {
  background-color: #FFFFFF;
  font-family: "Cantarell","Helvetica Neue","Arial",sans-serif;
  font-size: 22px;
  margin-top: 50px;
}

.username {
  font-weight: bold;
  color: #BC38BC;
}

span.username a:hover {
  color: #E07A5F;
  text-decoration: none;
}

.username a:visited {
  color: #BC38BC;
}

// navbar

.navbar-default {
  background-color: white;
}

ul.navbar-nav li a.navbar-brand {
  font-weight: bold;
  font-size: 28px;
  font-family: "Croissant One";
  color: #5DA9E9;
}

.navbar-nav li a:link, .navbar-nav li a:visited {
  color: rgb(96, 96, 96);
  font-weight: bold;
  font-size: 20px;
}

ul.nav.navbar-nav li a:hover {
  color: #E07A5F;
}

.navbar .navbar-right li a:hover {
  color: #E07A5F;
}

form.navbar-form {
  padding-right: 8px;
}

#create-acct-btn {
  margin-top: 8px;
  margin-right: 16px;
}

#create-acct-btn a {
  font-size: 14px;
}

.navbar #greeting {
  padding-left: 0;
}

#greeting {
  color: rgb(96, 96, 96);
}

.navbar li a#greeting:hover {
  color: rgb(96, 96, 96);
}

.avatar {
  border-radius: 60px;
}

#avatar-link-centerer {
  padding-left: 5px;
  padding-right: 0;
  width: 50px;
}

.avatar-header {
  width: 80%;
  height: 80%;
  float: left;
  position: relative;
  bottom: 7px;
}

// index
.all-photos {
  margin-top: 40px;
}

.index-photo-block {
  margin-bottom: 40px;
}

.index-photo-block img {
  border-radius: 6px;
}

img.photo-index-version:hover {
  opacity: 0.8;
}

.index-details-left {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.index-details-right {
  float:right;
  font-size: 18px;
}

a.photo-name {
  color: #F7567C;
}

a.photo-name:hover {
  color: #5DA9E9;
  text-decoration: none;
}

.add-photo-container {
  margin: 20px 0;
  padding-bottom: 60px;
}

.add-photo-btn a {
  color: white;
}

// photo 'show' page

.photo-container {
  margin: 20px 0 0 0;
}

.photo-container h3 {
  margin-top: 0;
}

.photo-image-container {
  padding-left: 0;
}

#photo-detail-version {
  border-radius: 4px;
}

.photo-details-container {
  padding-top: 20px;
}

.details-top {
  padding-bottom: 20px;
}

.avatar-img-show {
  width: 80px;
}

.details-rating-form {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.btn-group {
  width: 100%;
}

.btn-group label {
  width: 33.33333339%;
  font-size: 16px;
}

label.btn.btn-danger {
  border-bottom-left-radius: 0px;
}

label.btn.btn-success {
  border-bottom-right-radius: 0px;
}

#review-comment-field {
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  border-radius: 0px;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
}

.submit-review-btn {
  display: block;
  width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  outline: 0;
  border: 0;
  color: white;
  font-size: 16px;
}

.details-comment-list {
  padding-top: 20px;
}

.comment-list li {
  list-style-type: none;
}

.comment-time {
  font-size: 12px;
  color: gray;
}

#photo-title {
  font-size: 30px;
  font-weight: 600;
}

#photo-description {
  font-size: 16px;
}

// add new photo page

.add-photo-form {
  padding-top: 20px;
}

.add-photo-form-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #72befe;
  text-align: center;
  color: white;
}

.add-photo-form-header h1 {
  margin-bottom: 0px;
}

// signup page

.signup-container {
  padding-top: 20px;
}

.signup-input.signup-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #72befe;
    text-align: center;
    color: white;
}

.signup-input.signup-header h1 {
  margin: 0 0;
}

.signup-form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.signup-input {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0px;
    outline: 0;
    transition: 0.3s;

    &:focus {
        background: darken(#fff, 3%);
    }
}

.create-acct-btn {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: white;
    transition: 0.3s;
    font-size: 32px;
    font-weight: bold;

    &:hover {
        // background: darken($color-primary, 5%);
    }
}


// user account page

.user-account-container {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.user-account-details {
  padding-top: 20px;
  padding-bottom: 20px;
}

.update-email-address-form {
  padding-left: 0;
}

#email-update-info {
  font-size: 16px;
}

#user-avatar-title {
  padding-top: 20px;
}

#user-avatar-title h2 {
  display: inline;
  padding-left: 2px;
}

.preview-photo-block {
  padding-top: 20px;
}

.preview-photo-block img {
  border-radius: 4px;
}

.photo-upload {
  font-size: 12px;
  float: right;
  padding-right: 6px;
}

// photo ranking page
.all-photos-ranked {
  padding-top: 20px;
}

.all-photos-ranked img {
  border-radius: 4px;
}

.ranked-photo-block {
  padding-bottom: 20px;
}

.rating-score {
  font-family: "Croissant One";
  font-size: 46px;
  // font-weight: bold;
  color: white;
  padding-right: 12px;
  float: right;
  top:60px;
  position: relative;
}
