body {
  background-color: rgb(226, 226, 226);
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 22px;
  margin-top: 50px;
}

.navbar-default {
  background-color: rgba(149, 175, 199, 0.7);
}

.navbar a:link, .navbar a:visited {
  color: white;
  font-size: 22px;
}

.navbar .navbar-right li a:link, .navbar .navbar-right li a:visited {
  color: white;
  font-size: 22px;
}

.navbar .navbar-right li a:hover {
  color: rgb(210, 138, 41);
}

#create-acct-btn {
  margin-top: 8px;
}

#create-acct-btn a {
  font-size: 14px;
}

.navbar li a#greeting:hover {
  color: #777;
}

// index
.all-photos {
  margin-top: 40px;
}

.index-photo-block {
  margin-bottom: 40px;
}

.index-photo-block img {
  border-radius: 6px;
}

.index-details-left {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.index-details-right {
  float:right;
  font-size: 18px;
}

.index-username {
  color: white;
  font-weight: bold;
}

.add-photo-container {
  margin: 20px 0;
  padding-bottom: 60px;
}

// photo 'show' page

.photo-container {
  margin: 20px 0 0 0;
}

.photo-image-container {
  padding-left: 0;
}

.photo-detail-version img {
  border-radius: 4px;
}

.photo-details-container {
  padding-left: 0 0;
}

.details-top {
  padding-bottom: 20px;
}

.details-ratings {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.details-comments {
  padding-top: 20px;
}

#photo-title {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

#photo-description {
  font-size: 16px;
}

// user account page

.preview-photo-block {
  padding-top: 20px;
}

.preview-photo-block img {
  border-radius: 4px;
}
